<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administration panel</title>
    <link th:href="@{/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">

</head>
<body>
<div th:insert="~{fragments/nav-bar-admin::nav}"></div>

<div class="container">

    <form action="#" th:action="@{/admin-page/orders/search}" method="get" class="row my-2">
        <div class="form-group ms-auto">
            <input type="radio" name="criteria" id="user-full" value="userFull">
            <label for="user-full">Registered user's full email</label>
        </div>
        <div class="form-group ms-auto">
            <input type="radio" name="criteria" id="user-containing" value="userContaining">
            <label for="user-containing">Any user's email containing</label>
        </div>
        <div class="form-group ms-auto">
            <input type="radio" name="criteria" id="id" value="id">
            <label for="id">Order's ID</label>
        </div>
        <div class="form-group ms-auto">
            <input type="radio" name="criteria" id="ebook" value="ebook">
            <label for="ebook">Ebook's title</label>
        </div>
        <div class="form-group ms-auto">
            <input type="text" name="keyword" placeholder="Search for an order" class="form-control col-5">
        </div>
        <div class="form-group  me-auto">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </form>

    <h2>List of recent orders</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">CUSTOMER'S EMAIL</th>

            <th scope="col">TOTAL COST</th>
            <th scope="col">DATE</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="order: ${orders}">
            <tr>
                <td><span th:text="${order.id}"> id </span></td>
                <td><span th:text="${order.getUserEmail()}"> email </span></td>
                <td><span th:text="${order.totalCost}"> cost </span></td>
                <td><span th:text="${order.orderTime}"> date </span></td>
                <td><a th:href="@{orders/__${order.id}__}" style="width: 100%;" class="btn btn-success mb-3">Details</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
</html>