<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link th:href="@{/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">

</head>
<body>
<div th:insert="~{fragments/nav-bar::nav}"></div>

<div class="container  px-5">
    <div class="row text-center fst-italic">
        <div class="message" th:if="${param.error}">
            Invalid Username or Password
        </div>
        <div class="message" th:if="${param.logout}">
            Logout Successfully
        </div>
    </div>
    <div class="row">
        <h3>Login </h3>
        <form th:action="@{/login}" method="post">

            <div class="form-group">
                <label for="username">Email:</label>
                <input type="email" id="username" name="username" placeholder="Enter your email" required
                       class="form-control my-2">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required
                       class="form-control  my-2">
            </div>
            <input type="submit" value="Login" class="form-control bg-success  my-2">
        </form>
    </div>
</div>
</body>
</html>
